<!-- task-form.component.html -->

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="taskName">Task Name:</label>
      <input type="text" class="form-control" id="taskName" formControlName="taskName" />
      <div style="color: red;" *ngIf="taskForm.get('taskName')?.hasError('required') && (taskForm.get('taskName')?.touched || taskForm.get('taskName')?.dirty)">
        Task Name is required.
      </div>
    </div>
  
    <div>
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
      <div style="color: red;" *ngIf="taskForm.get('description')?.hasError('required') && (taskForm.get('description')?.touched || taskForm.get('description')?.dirty)">
        Description is required.
      </div>
    </div>
  
    <div>
      <label for="dueDate">Due Date:</label>
      <input class="form-control" type="date" id="dueDate" formControlName="dueDate" />
      <div style="color: red;" *ngIf="taskForm.get('dueDate')?.hasError('required') && (taskForm.get('dueDate')?.touched || taskForm.get('dueDate')?.dirty)">
        Due Date is required.
      </div>
    </div>
    <div class="btn">
    <button type="submit" [disabled]="!taskForm.valid">
        {{ data ? 'Update' : 'Submit' }}
    
    </button>
</div>
  </form>
  